/*-- scss:defaults --*/

$presentation-h1-font-size: 200% !important;
$presentation-h2-font-size: 175% !important;
$presentation-h3-font-size: 150% !important;
$presentation-h4-font-size: 150% !important;
$presentation-slide-text-align: justify;





